<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
    	<p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <a href="/databases">Databases</a> > Strings</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<h2>Search Strings</h2>
	    		<form action="" method="post">

	    		</form>
	    	</div>
	</div>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>