<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <h1>Nexus Tennis > Scores and Stats Tracker > Live Match</h1>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>
