<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <h1>Nexus Tennis > Scores and Stats Tracker</h1>

    <h3>In Progress</h3>

    <p>No matches in progress - <a href="/tools/scoresandstatstracker/newmatch">start new match</a></p>

    <h3>Completed Matches</h3>

    <p>No completed matches - <a href="/tools/scoresandstatstracker/newmatch">start new match</a></p>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>
