<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <h1>Nexus Tennis > Profile > <%= data.user.firstname %> <%= data.user.lastname %> > Activity</h1>

    <%- include('../../common/profile/userProfileHeader', {req: req}) %>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>
