<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
    	<div id="fullContainer">
	    	<div id="subNav">
	    		<ul>
	    			<!--<li><a href="/tools/scoresandstatstracker">Scores and Stats Tracker</a></li>-->
	    			<li><a href="/tools/tourbuilder">Tour Builder</a></li>
	    			<!--<li><a href="/tools/tourcalculator">Tour Calculator</a></li>-->
	    		</ul>
	    	</div>
    	</div>

    	<p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <a href="/tools">Tools</a> > Tour Builder</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<h2>Please Enter Your Details</h2>
	    		<form>
	    			Display Tournaments From <input id="startDate" type="date" autocomplete="off" onChange="updateStartDate(this.value)"> To <input id="endDate" type="date" autocomplete="off" onChange="endDate = new Date(this.value)"><br>
	    			
	    			<% if (!req.session.loggedIn) { %>
	    			<p>Gender</p>
					<input type="radio" autocomplete="off" name="gender" onClick="userGender = 'male'; document.getElementById('ageGroups').style.display = 'block'"> Male<br>
					<input type="radio" autocomplete="off" name="gender" onClick="userGender = 'female'; document.getElementById('ageGroups').style.display = 'block'"> Female<br>
					<% } %>
					
					<div id="ageGroups" style = "display: none">
						<p>Age Groups</p>
						<input type="checkbox" autocomplete="off" name="userAgeGroup" value="open" onChange="addOrRemoveAgeGroup('open')"> Open<br>
						<input type="checkbox" autocomplete="off" name="userAgeGroup" value="u18"  onChange="addOrRemoveAgeGroup('u18')"> u18<br>
						<input type="checkbox" autocomplete="off" name="userAgeGroup" value="u16"  onChange="addOrRemoveAgeGroup('u16')"> u16<br>
						<input type="checkbox" autocomplete="off" name="userAgeGroup" value="u14"  onChange="addOrRemoveAgeGroup('u14')"> u14<br>
						<input type="checkbox" autocomplete="off" name="userAgeGroup" value="u12"  onChange="addOrRemoveAgeGroup('u12')"> u12<br>
					</div>
				</form>
	    	</div>

	    	<div id="fullWindow" class="internationalTournaments" style="display: none">
	    		<form>
	    			<h2>What International Tournaments Do You Want To Play?</h2>

	    			<div id="maleProTournaments" style = "display: none">
		    			<input type="checkbox" autocomplete="off" name="manualTournamentLevel" onChange="addOrRemoveTournamentLevel('ITF Grand Slam')"> Grand Slam<br>
		        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" onChange="addOrRemoveTournamentLevel('ATP Finals')"> ATP Finals<br>
		        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" onChange="addOrRemoveTournamentLevel('ATP 1000')"> ATP 1000<br>
		        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" onChange="addOrRemoveTournamentLevel('ATP 500')"> ATP 500<br>
		        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" onChange="addOrRemoveTournamentLevel('ATP 250')"> ATP 250<br>
		        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" onChange="addOrRemoveTournamentLevel('ATP Challenger')"> ATP Challenger<br>
		        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" onChange="addOrRemoveTournamentLevel('ITF M25')"> ITF World Tour $25,000<br>
		        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" onChange="addOrRemoveTournamentLevel('ITF M15')"> ITF World Tour $15,000<br><br>
		        	</div>
	        	</form>
	        </div>

	        <div id="fullWindow" class="nationalTournaments" style="display: none">
	        	<form>
	        		<h2>What National Tournaments Do You Want To Play?</h2>

	        		<select autocomplete="off" onChange="showTournaments(this.value)">
	        			<option value="" selected disabled hidden>Select Country</option>
	        			<option value="australianTournaments">Australia</option>
	        		</select><br>

	        		<div id="australianTournaments" style="display: none">
	        			<div id="openTournaments" style="display: none">
			    			<input type="checkbox" autocomplete="off" name="manualTournamentLevel" value="amtPlatinum" onChange="addOrRemoveTournamentLevel('AMT Platinum Series')"> AMT Platinum<br>
			        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" value="amtGold"     onChange="addOrRemoveTournamentLevel('AMT Gold Series')"> AMT Gold<br>
			        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" value="amtSilver"   onChange="addOrRemoveTournamentLevel('AMT Silver Series')"> AMT Silver<br>
			        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" value="amtBronze"   onChange="addOrRemoveTournamentLevel('AMT Bronze Series')"> AMT Bronze<br>
		        		</div>
		        		<div id="juniorTournaments" style="display: none">
			        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" value="ajtPlatinum" onChange="addOrRemoveTournamentLevel('AJT Platinum Series')"> AJT Platinum<br>
			        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" value="ajtGold"     onChange="addOrRemoveTournamentLevel('AJT Gold Series')"> AJT Gold<br>
			        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" value="ajtSilver"   onChange="addOrRemoveTournamentLevel('AJT Silver Series')"> AJT Silver<br>
			        		<input type="checkbox" autocomplete="off" name="manualTournamentLevel" value="ajtBronze"   onChange="addOrRemoveTournamentLevel('AJT Bronze Series')"> AJT Bronze<br>
		        		</div>
		        	</div>
	    		</form>
	    	</div>

	    	<div id="fullWindow">
	    		<button onClick="loadTournaments()" style="width: 100%; height: 50px">Load My Tournaments</button><br>
	    	</div>

	    	<div id="fullWindow">
	    		<div id="map" style="height: 900px;"></div>

				<script>
					Date.prototype.getDateString = function(format) {
						var day   = this.getDate();
						var month = this.getMonth() + 1;
						var year  = this.getFullYear();

						if      (format == "YYYY-MM-DD") return year + "-" + month + "-" + day;
						else if (format == "DD-MM-YYYY") return day + "-" + month + "-" + year;
					}

					var tourTournaments = [];

					var tournaments = <%- JSON.stringify(req.data.tournaments) %>;
					var existingMarkers = [];
					var map;

					<% if (!req.session.loggedIn) { %>
					var userGender;
					<% } else { %>
					var userGender = "<%= req.data.userData.gender %>";
					document.getElementById('ageGroups').style.display = 'block'
					<% } %>

					var userAgeGroups = [];
					var userTournamentLevels = [];

					var startDate = new Date();
					var endDate   = new Date(startDate.getFullYear() + 1, startDate.getMonth(), startDate.getDate());

					document.getElementById("startDate").valueAsDate = startDate;
					document.getElementById("endDate").valueAsDate   = endDate;

					function updateStartDate(date) {
						startDate = new Date(date);
						console.log(startDate);
					}
					
					function initMap() {
						map = new google.maps.Map(document.getElementById('map'), {
							center: {
								lat: -28.5,
								lng: 133.5
							},
							zoom: 5,
							draggableCursor: 'crosshair'
						});

					}

					function loadTournaments() {
						console.log(startDate + " " + endDate);
						console.log(userGender);
						console.log(userAgeGroups);
						console.log(userTournamentLevels);
						
						
						if (startDate == undefined || endDate == undefined || userGender == undefined || userAgeGroups.length == 0 || userTournamentLevels.length == 0) {
							alert("Please enter all of your information");
							return;
						}

						deleteTournaments();

						var infowindow = new google.maps.InfoWindow();
						
						for (var i = 0; i < tournaments.length; i++) {

							//User filter checks
							if (tournaments[i].gender != userGender) continue;

							tournaments[i].startDateObject = new Date(tournaments[i].startDate);
							tournaments[i].endDateObject   = new Date(tournaments[i].endDate);

							if (startDate > tournaments[i].startDateObject) continue;
							if (endDate   < tournaments[i].endDateObject)   continue;

							var isInUserAgeGroups = false;

							for (var j = 0; j < userAgeGroups.length; j++) {
								if (tournaments[i].ageGroup == userAgeGroups[j]) {
									isInUserAgeGroups = true;
									break;
								}
							}

							if (!isInUserAgeGroups) continue;
							
							var isInUserTournamentLevels = false;

							for (var j = 0; j < userTournamentLevels.length; j++) {
								console.log(tournaments[i].tourShort + " " + tournaments[i].level + " = " + userTournamentLevels[j]);
								if (tournaments[i].tourShort + " " + tournaments[i].level == userTournamentLevels[j]) {
									isInUserTournamentLevels = true;
									break;
								}
							}

							if (!isInUserTournamentLevels) continue;
							
							//load tournament

							var temp = markerExists(tournaments[i].latitude, tournaments[i].longitude);

							if (temp.result) {
								var marker = temp.existingMarker.marker;
								var listener = temp.existingMarker.listener;

								listener.remove();

								var content = temp.existingMarker.content + getContent(tournaments[i], i);

								var listener = google.maps.event.addListener(marker, 'click', (function(marker, content) {
									return function() {
										infowindow.setContent(content);
										infowindow.open(map, marker);
									}
								})(marker, content));

								temp.existingMarker.listener = listener;
								temp.existingMarker.content  = content;

							} else {

								var marker = new google.maps.Marker({
									position: new google.maps.LatLng(tournaments[i].latitude, tournaments[i].longitude),
									map: map
								});

								var content = getContent(tournaments[i], i);

								var listener = google.maps.event.addListener(marker, 'click', (function(marker, content) {
									return function() {
										infowindow.setContent(content);
										infowindow.open(map, marker);
									}
								})(marker, content));

								var existingMarker = {
									marker:    marker,
									content:   content,
									listener:  listener,
									latitude:  tournaments[i].latitude,
									longitude: tournaments[i].longitude
								}

								existingMarkers.push(existingMarker);
							}
						}
					}

					function deleteTournaments() {
						for (var i = 0; i < existingMarkers.length; i++) {
							existingMarkers[i].marker.setMap(null);
						}

						existingMarkers = [];
					}

					function getContent(tournament, i) {
						var event = getEvent(tournament.ageGroup, tournament.gender);

						return "<p><a href='" + tournament.organisationURL + "'>" + tournament.tournamentName + " (" + event + ")</a></p>" +
							   "<p>" + tournament.tour + ", " + tournament.level + "</p>" +
							   "<p>" + tournament.city + ", " + tournament.country + "</p>" +
							   "<p>" + tournament.startDateObject.getDateString("DD-MM-YYYY") + " to " + tournament.endDateObject.getDateString("DD-MM-YYYY") + "</p>" +
							   "<p>" + tournament.courtType + " " + tournament.courtSurface + "</p>" +
							   "<p>" + tournament.totalFinancialCommitment + "</p>" +
							   "<button onClick='addTournamentToTour(" + i + ")'>Add To Tour</button>";
					}

					function getEvent(ageGroup, gender) {
						if (ageGroup == "open") ageGroup = "Open";

						if (gender == "male") {
							if (ageGroup == "Open") gender = "Mens";
							else                    gender = "Boys";
						} else if (gender == "female") {
							if (ageGroup == "Open") gender = "Womens";
							else                    gender = "Girls";
						}

						return ageGroup + " " + gender;
					}

					function markerExists(latitude, longitude) {
						for (var i = 0; i < existingMarkers.length; i++) {
							if (existingMarkers[i].latitude == latitude && existingMarkers[i].longitude == longitude) {
								return {
									result: true,
									existingMarker: existingMarkers[i]
								}
							}
						}

						return {
							result: false,
							existingMarker: null
						}
					}

					function convertDate(date, format) {
						var temp = date.split("-");

						if (format == "YYYY-MM-DD") {
							var day   = temp[2];
							var month = temp[1];
							var year  = temp[0];

							return day + "-" + month + "-" + year;
						} else if (format == "DD-MM-YYYY") {
							var day   = temp[0];
							var month = temp[1];
							var year  = temp[2];

							return year + "-" + month + "-" + day;
						}
					}

					function addTournamentToTour(i) {
						var tournament = tournaments[i];

						var tourList = document.getElementById("tourList");

						var tournamentAlreadyAdded = false;

						for (var i = 0; i < tourList.children.length; i++) {
							var startDate      = new Date(convertDate(tourList.children[i].children[3].innerText, "DD-MM-YYYY"));
							var tournamentName = tourList.children[i].children[0].innerText;

							if (tournamentName == tournament.tournamentName) {
								tournamentAlreadyAdded = true;
								break;
							} else if (startDate > tournament.startDate) break;
						}

						if (!tournamentAlreadyAdded) {
							tourTournaments.push(tournament.tournamentID);

							console.log(tourTournaments);

							var row = tourList.insertRow(i);

							var newCell;
							var newText;

							newCell = row.insertCell(0);
							newText = document.createTextNode(tournament.tournamentName);
							newCell.appendChild(newText);

							newCell = row.insertCell(1);
							newText = document.createTextNode(tournament.tour);
							newCell.appendChild(newText);

							newCell = row.insertCell(2);
							newText = document.createTextNode(tournament.level);
							newCell.appendChild(newText);

							newCell = row.insertCell(3);
							newText = document.createTextNode(tournament.startDateObject.getDateString("DD-MM-YYYY"));
							newCell.appendChild(newText);

							newCell = row.insertCell(4);
							newText = document.createTextNode(tournament.endDateObject.getDateString("DD-MM-YYYY"));
							newCell.appendChild(newText);

							newCell = row.insertCell(5);
							newText = document.createTextNode(tournament.courtSurface);
							newCell.appendChild(newText);

							newCell = row.insertCell(6);
							newText = document.createTextNode(tournament.totalFinancialCommitment);
							newCell.appendChild(newText);

							newCell = row.insertCell(7);

							var button = document.createElement("BUTTON");
							button.setAttribute("onclick", "deleteTournamentFromTour(" + tournament.tournamentID + ")");
							var text   = document.createTextNode("Delete");
							button.appendChild(text);

							newCell.appendChild(button);
						} else {
							alert(tournament.tournamentName + " already added to tour. If you want a different event remove the current one");
						}
					}

					function deleteTournamentFromTour(tournamentID) {
						var index = tourTournaments.indexOf(tournamentID);
						if (index > -1) {
							tourTournaments.splice(index, 1);

							var tourList = document.getElementById("tourList");

							for (var i = 0; i < tourList.children.length; i++) {
								var startDate      = new Date(tourList.children[i].children[3].innerText);
								var tournamentName = tourList.children[i].children[0].innerText;

								if (tournamentName == tournaments.find(tournament => tournament.tournamentID == tournamentID).tournamentName) {
									break;
								}
							}

							tourList.deleteRow(i);
						}
					}

					function addOrRemoveAgeGroup(ageGroup) {
						var ageGroupExists = false;
						
						for (var i = 0; i < userAgeGroups.length; i++) {
							if (userAgeGroups[i] == ageGroup) {
								ageGroupExists = true;
								userAgeGroups.splice(i, 1);
								break;
							}
						}

						if (!ageGroupExists) {
							userAgeGroups.push(ageGroup);
							if (ageGroup == "open") {
								if (userGender == "male") document.getElementById('maleProTournaments').style.display = "block";
								document.getElementById('openTournaments').style.display = "block";
								document.getElementsByClassName('internationalTournaments')[0].style.display = "block";
								document.getElementsByClassName('nationalTournaments')[0].style.display = "block";
							} else {
								document.getElementById('juniorTournaments').style.display = "block";
								document.getElementsByClassName('nationalTournaments')[0].style.display = "block";
							}
						} else {
							if (ageGroup == "open") {
								if (userGender == "male") document.getElementById('maleProTournaments').style.display = "none";
								document.getElementById('openTournaments').style.display = "none";
								document.getElementsByClassName('internationalTournaments')[0].style.display = "none";
								if (userAgeGroups.length == 0) document.getElementsByClassName('nationalTournaments')[0].style.display = "none";

							} else {
								document.getElementById('juniorTournaments').style.display = "none";
								if (userAgeGroups.length == 0) document.getElementsByClassName('nationalTournaments')[0].style.display = "none";
							}
						}
					}

					function addOrRemoveTournamentLevel(tournamentLevel) {
						var tournamentLevelExists = false;
						
						for (var i = 0; i < userTournamentLevels.length; i++) {
							if (userTournamentLevels[i] == tournamentLevel) {
								tournamentLevelExists = true;
								userTournamentLevels.splice(i, 1);
								break;
							}
						}

						if (!tournamentLevelExists) userTournamentLevels.push(tournamentLevel);
					}

					function showTournaments(tournaments) {
						document.getElementById(tournaments).style.display = "block";
					}

					function submitTour() {
						document.getElementById('tourTournaments').value = JSON.stringify(tourTournaments);
						console.log(tourTournaments);
					}
				</script>

				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNPBIAjrx9vq1SsspqjAiD6JB37xHUX3A&callback=initMap" async defer></script>
	        </div>

	        <div id="fullWindow">
	        	<h2>My Tour</h2>

	        	<table id="borderTable">
	        		<thead>
		        		<tr>
		        			<th>Tournament</th>
		        			<th>Tour</th>
		        			<th>Level</th>
		        			<th>Start Date</th>
		        			<th>End Date</th>
		        			<th>Surface</th>
		        			<th>Total Financial Commitment</th>
		        		</tr>
		        	</thead>

		        	<tbody id="tourList">
		        		
		        	</tbody>
	        	</table>

	        	<br>

	       		<% if (req.session.loggedIn) { %>
	        	<form action="" method="post" onSubmit="submitTour()">
	        		<input id="tourTournaments"        name="tournaments" type="hidden" value="">
	        		<input id="deletedTourTournaments" name="deletedTourTournaments" type="hidden" value="">
	        		<input type="submit" value="Save Tour" style="width: 100%; height: 50px">
	        	</form>
	        	<% } else { %>
	        	<p>Login to save your tour!</p>
	        	<% } %>

	        	<script>
	        		currentTourInit();

					function currentTourInit() {
						var currentTour = <%- JSON.stringify(req.data.currentTour) %>;
						
						for (var i = 0; i < currentTour.length; i++) {
							var index = tournaments.findIndex(tournament => tournament.tournamentID == currentTour[i].tournamentID);
							tournaments[index].startDateObject = new Date(tournaments[index].startDate);
							tournaments[index].endDateObject   = new Date(tournaments[index].endDate);
							addTournamentToTour(index);
						}
					}
	        	</script>
	        </div>
	    </div>
	</div>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>