.pageIcon {
	background-color: lightblue;
}

.pageIcon .yes {
	display: none;
	-moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
}

.pageIcon:hover .yes {
	display: block;
}