#subNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    cursor: pointer;
}

#subNav li {
    float: left;
}

#subNav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#subNav li a:hover {
    background-color: #d3d3d3;
}

#subNav {
	width: 1000px;
	background-color: #ffffff;
	margin: 0px 0px 10px 0px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}