<html>

<head>
    <%- include('../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../common/header', {req: req}) %>

    <div id="wrapper">
    	<div id="fullContainer">
	    	<div id="subNav">
	    		<ul>
	    			<li><a href="/databases/racquets">Racquets</a></li>
	    			<li><a href="/databases/customisations">Racquet Customisations</a></li>
	    			<li><a href="/databases/strings">Strings</a></li>
	    		</ul>
	    	</div>
    	</div>

    	<p id="breadcrumbs"><a href="/">Nexus Tennis</a> > Databases</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<h2>Top Rated Racquets</h2>
	    	</div>

	    	<div id="fullWindow">
	    		<h2>Top Rated Racquet Customisations</h2>
	    	</div>

	    	<div id="fullWindow">
	    		<h2>Top Rated Strings</h2>
	    	</div>
	</div>

    <%- include('../common/footer', {req: req}) %>
</body>

</html>