<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
    	<div id="fullContainer">
	    	<div id="subNav">
	    		<ul>
	    			<li><a>Customisations</a></li>
	    			<li><a href="/databases/customisations/newcustomisation">Add New Customisation</a></li>
	    		</ul>
	    	</div>
    	</div>

    	<p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <a href="/databases">Databases</a> > Customisations</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<h2>Search Customisations</h2>
	    		<form action="" method="post">
	    		</form>
	    	</div>

	    	<div id="fullWindow">
	    		<table id="borderTable">
	    			<tr>
	    				<th>Name</th>
	    				<th>Brand</th>
	    				<th>Racquet</th>
	    				<th>Model</th>
	    			</tr>
	    			<tr>
	    			<% for(var i = 0; i < req.data.customisations.length; i++) { %>
	    				<td><a href="/databases/customisations/<%= req.data.customisations[i].customisationName %>"><%= req.data.customisations[i].customisationName %></a></td>
	    				<td><%= req.data.customisations[i].brandName %></td>
	    				<td><%= req.data.customisations[i].racquetName %></td>
	    				<td><%= req.data.customisations[i].model %></td>
	    			<% } %>
	    			</tr>
	    		</table>
	    	</div>
	</div>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>