<html>

<head>
    <%- include('../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../common/header', {req: req}) %>

    <div id="wrapper">
    	<div id="fullContainer">
	    	<div id="subNav">
	    		<ul>
	    			<li><a href="/tournaments">Tournaments</a></li>
	    			<li><a href="/tournaments/atp">ATP</a></li>
	    			<li><a href="/tournaments/wta">WTA</a></li>
	    			<li><a href="/tournaments/national">National</a></li>
	    		</ul>
	    	</div>
    	</div>

    	<p id="breadcrumbs">Nexus Tennis > Tournaments</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<form action="" method="post">
	    			<input type="checkbox" name="manualTournamentLevel" value="grandslam"> Grand Slam<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="atpfinals"> ATP Finals<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="atp1000"> ATP 1000<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="atp500"> ATP 500<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="atp250"> ATP 250<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="challenger150000"> ATP Challenger $150,000 / €127,000<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="challenger125000"> ATP Challenger $125,000 / €106,000<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="challenger100000"> ATP Challenger $100,000 / €85,000<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="challenger75000"> ATP Challenger $75,000 / €64,000<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="challenger50000"> ATP Challenger $50,000 / €43,000<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="futures25000"> ITF Futures $25,000<br>
	        		<input type="checkbox" name="manualTournamentLevel " value="futures15000"> ITF Futures $15,000<br><br>
	    		</form>
	    	</div>

	        <div id="fullWindow">
				<div id="map" style="height: 600px;"></div><br>

				<script>
					var map;
					var homeCoordinates;
					var tournaments = <%- JSON.stringify(req.data.tournaments) %>;
					
					function initMap() {
						map = new google.maps.Map(document.getElementById('map'), {
							center: {
								lat: 20,
								lng: 5
							},
							zoom: 2,
							draggableCursor:'crosshair'
						});

						var infowindow = new google.maps.InfoWindow();

						var marker, i;

						for (i = 0; i < tournaments.length; i++) {
							var icon = {
							    scaledSize: new google.maps.Size(30, 34), // scaled size
							    origin: new google.maps.Point(0,0), // origin
							    anchor: new google.maps.Point(0, 0) // anchor
							};

							if      (tournaments[i].level == "atp250") icon.url = "/images/tournamentIcons/atp250.png";
							else if (tournaments[i].level == "atp500") icon.url = "/images/tournamentIcons/atp500.png";
							else if (tournaments[i].level == "atp1000") icon.url = "/images/tournamentIcons/atp1000.png";
							else if (tournaments[i].level == "grandslam") icon.url = "/images/tournamentIcons/atpGrandSlam.png";
							else if (tournaments[i].level == "nextgen") icon.url = "/images/tournamentIcons/atpNextGenFinals.png";
							else if (tournaments[i].level == "finals") icon.url = "/images/tournamentIcons/atpFinals.png";

							marker = new google.maps.Marker({
								position: new google.maps.LatLng(tournaments[i].latitude, tournaments[i].longitude),
								map: map,
								icon: icon
							});

							google.maps.event.addListener(marker, 'click', (function(marker, i) {
								return function() {
									infowindow.setContent(tournaments[i].tournamentName);
									infowindow.open(map, marker);
								}
							})(marker, i));
						}
					}
				</script>

				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNPBIAjrx9vq1SsspqjAiD6JB37xHUX3A&callback=initMap" async defer></script>

	        </div>
	    </div>
	</div>

    <%- include('../common/footer', {req: req}) %>
</body>

</html>