<html>

<head>
    <%- include('../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../common/header', {req: req}) %>

    <div id="wrapper">
    	<div id="fullContainer">
	    	<div id="subNav">
	    		<ul>
	    			<li><a href="/tournaments">Tournaments</a></li>
	    			<li><a href="/tournaments/atp">ATP</a></li>
	    			<li><a href="/tournaments/wta">WTA</a></li>
	    			<li><a href="/tournaments/national">National</a></li>
	    		</ul>
	    	</div>
    	</div>

    	<p id="breadcrumbs">Nexus Tennis > Tournaments > National</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<table id="borderTable">
	    			<tr>
	    				<th>Country</th>
	    				<th>Tour</th>
	    				<th>Number of Tournaments</th>
	    			</tr>
	    			<tr>
	    				<td><a href="/tournaments/national/australia">Australia</a></td>
	    				<td><a href="/tournaments/national/australia/amt">Australian Money Tournaments</a></td>
	    				<td>-</td>
	    			</tr>
	    			<tr>
	    				<td><a href="/tournaments/national/australia">Australia</a></td>
	    				<td><a href="/tournaments/national/australia/ajt">Australian Junior Tournaments</a></td>
	    				<td>-</td>
	    			</tr>
	    		</table>
	        </div>
	    </div>
	</div>

    <%- include('../common/footer', {req: req}) %>
</body>

</html>