<html>

<head>
    <%- include('../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../common/header', {req: req}) %>

    <div id="wrapper">
    	<div id="fullContainer">
	    	<div id="subNav">
	    		<ul>
	    			<li><a href="/tournaments">Tournaments</a></li>
	    			<li><a href="/tournaments/atp">ATP</a></li>
	    			<li><a href="/tournaments/wta">WTA</a></li>
	    			<li><a href="/tournaments/national">National</a></li>
	    		</ul>
	    	</div>
    	</div>

    	<p id="breadcrumbs">Nexus Tennis > Tournaments > WTA</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<form action="" method="post">
	    			<input type="checkbox" name="manualTournamentLevel" value="grandslam"> Grand Slam<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="wtafinals"> WTA Finals<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="atp1000"> WTA Premier Mandatory<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="atp500"> WTA Premier 5<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="atp250"> WTA Premier<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="challenger150000"> WTA International<br>
	    		</form>
	    	</div>

	        <div id="fullWindow">
				<div id="map" style="height: 600px;"></div><br>

				<script>
					var map;
					//var homeCoordinates;
					//var tournaments = <%- JSON.stringify(req.data.tournaments) %>;
					
					function initMap() {
						map = new google.maps.Map(document.getElementById('map'), {
							center: {
								lat: 20,
								lng: 5
							},
							zoom: 2,
							draggableCursor:'crosshair'
						});
					}
				</script>

				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNPBIAjrx9vq1SsspqjAiD6JB37xHUX3A&callback=initMap" async defer></script>

	        </div>
	    </div>
	</div>

    <%- include('../common/footer', {req: req}) %>
</body>

</html>