<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
    	<div id="fullContainer">
	    	<div id="subNav">
	    		<ul>
	    			<li><a href="/databases/racquets">Racquets</a></li>
	    			<li><a href="/databases/racquets/newracquet">Add New Racquet</a></li>
	    		</ul>
	    	</div>
    	</div>
    	
    	<p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <a href="/databases">Databases</a> > Racquets</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<h2>New Racquet</h2>
	    		<form action="" method="post">
	    			Brand <input type="text" name="" /><br><br>
	    			Name <input type="text" name="" /><br><br>
	    			Model <input type="text" name="" /><br><br>
	    			Length <input type="text" name="" /><br><br>
	    			Strung Weight <input type="text" name="" /><br><br>
	    			Unstrung Weight <input type="text" name="" /><br><br>
	    			Swing Weight <input type="text" name="" /><br><br>
	    			Stiffness <input type="text" name="" /><br><br>
	    			Head Size <input type="text" name="" /><br><br>
	    			Balance <input type="text" name="" /><br><br>
	    			Mains <input type="text" name="" /><br><br>
	    			Crosses <input type="text" name="" /><br><br>
	    			Beam Width Top <input type="text" name="" /><br><br>
	    			Beam Width Sides <input type="text" name="" /><br><br>
	    			Beam Width Bottom <input type="text" name="" /><br><br>
	    			Beam Thickness Top <input type="text" name="" /><br><br>
	    			Beam Thickness Sides <input type="text" name="" /><br><br>
	    			Beam Thickness Bottom <input type="text" name="" /><br><br>
	    		</form>
	    	</div>

	    	<div id="fullWindow">

	    	</div>
	</div>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>