<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
	<link rel="stylesheet" href="/css/databases/racquets.css">
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
    	<div id="fullContainer">
	    	<div id="subNav">
	    		<ul>
	    			<li><a>Racquets</a></li>
	    			<li><a href="/databases/racquets/newracquet">Add New Racquet</a></li>
	    		</ul>
	    	</div>
    	</div>

    	<p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <a href="/databases">Databases</a> > Racquets</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<h2>Search Racquets</h2>
	    		<form action="" method="post">
	    			Racquet Brand: 
					<select id="racquetBrand" name="brandName" onchange="changeRacquetNames()">
						<option value="">Select Racquet Brand</option>
						<% for (i = 0; i < req.data.brands.length; i++) { %>
						<option value="<%= req.data.brands[i].brandName %>"><%= req.data.brands[i].brandName %></option>
						<% } %>
					</select><br><br>

					Racquet Name: 
					<select id="racquetName" name="racquetName" onchange="changeRacquetModels()">
						<option value="" selected disabled>Select Racquet Name</option>
			        </select><br><br>

					Racquet Model:
					<select id="racquetModel" name="racquetModel">
						<option value="" selected disabled>Select Racquet Model</option>
					</select><br><br>
	    			<input type="submit" value="Search">
	    		</form>
	    	</div>

	    	<div id="fullWindow">
	    		<table id="borderTable" style="width: 100%">
	    			<tr>
	    				<th>Brand</th>
	    				<th>Racquet</th>
	    				<th>Model</th>
	    				<th>Year</th>
	    				<th>Length</th>
	    				<th>Head Size</th>
	    				<th>Unstrung Weight</th>
	    				<th>Stiffness</th>
	    				<th>Rating</th>
	    			</tr>
	    			<% for(var i = 0; i < req.data.racquets.length; i++) { %>
	    			<tr id="racquet" style="cursor: pointer;" onClick="window.location='/databases/racquets/<%= req.data.racquets[i].brandName %>-<%= req.data.racquets[i].racquetName %>-<%= req.data.racquets[i].model %>'">
	    				<td><%= req.data.racquets[i].brandName %></td>
	    				<td><%= req.data.racquets[i].racquetName %></td>
	    				<td><%= req.data.racquets[i].model %></td>
	    				<td><%= req.data.racquets[i].year %></td>
	    				<td><%= req.data.racquets[i].length %></td>
	    				<td><%= req.data.racquets[i].headSize %></td>
	    				<td><%= req.data.racquets[i].unstrungWeight %></td>
	    				<td><%= req.data.racquets[i].stiffness %></td>
	    				<td>-</td>
	    			</tr>
	    			</a>
    				<% } %>
	    		</table>
	    	</div>

	    	<div id="fullWindow">
	    		<p style="word-break:break-all;"><%= JSON.stringify(req.data.racquets) %></p>
	    	</div>
	</div>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>

<script>
	var racquets = <%- JSON.stringify(req.data.racquets) %>;

	function changeRacquetNames() {
		var e            = document.getElementById("racquetBrand");
		var racquetBrand = e.options[e.selectedIndex].value;

		racquetNameSelect  = document.getElementById("racquetName");
        racquetModelSelect = document.getElementById("racquetModel");

		//Delete old racquets
		removeOptions(racquetNameSelect);
        removeOptions(racquetModelSelect);

		racquetNameSelect.options[racquetNameSelect.options.length] = new Option("Select Racquet Name", "");
		racquetNameSelect.options[racquetNameSelect.options.length - 1].selected = true;
		racquetNameSelect.options[racquetNameSelect.options.length - 1].disabled = true;

        racquetModelSelect.options[racquetModelSelect.options.length] = new Option("Select Racquet Model", "");
		racquetModelSelect.options[racquetModelSelect.options.length - 1].selected = true;
		racquetModelSelect.options[racquetModelSelect.options.length - 1].disabled = true;

		var addedRacquetNames = [];

		//Add new racquets
		for (var i = 0; i < racquets.length; i++) {
			if (racquets[i].brandName == racquetBrand && !addedRacquetNames.includes(racquets[i].racquetName)) {
				racquetNameSelect.options[racquetNameSelect.options.length] = new Option(racquets[i].racquetName, racquets[i].racquetName);
                addedRacquetNames.push(racquets[i].racquetName);
			}
		}
	}

    function changeRacquetModels() {
		var e           = document.getElementById("racquetName");
		var racquetName = e.options[e.selectedIndex].value;

		racquetModelSelect = document.getElementById("racquetModel");

		//Delete old racquets
		removeOptions(racquetModelSelect);

		racquetModelSelect.options[racquetModelSelect.options.length] = new Option("Select Racquet Model", "");
		racquetModelSelect.options[racquetModelSelect.options.length - 1].selected = true;
		racquetModelSelect.options[racquetModelSelect.options.length - 1].disabled = true;

		//Add new racquets
		for (var i = 0; i < racquets.length; i++) {
			if (racquets[i].racquetName == racquetName) {
				racquetModelSelect.options[racquetModelSelect.options.length] = new Option(racquets[i].model, racquets[i].model);
			}
		}
	}

	function removeOptions(selectbox) {
	    for (var i = selectbox.options.length - 1; i >= 0; i--) {
	        selectbox.remove(i);
	    }
	}
</script>