<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
	<link rel="stylesheet" href="/css/databases/racquet.css">
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
    	<p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <a href="/databases">Databases</a> > <a href="/databases/racquets">Racquets</a> > <%= req.data.racquet.brandName %> <%= req.data.racquet.racquetName %> <%= req.data.racquet.model %></p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<h1><%= req.data.racquet.brandName %> <%= req.data.racquet.racquetName %><% if (req.data.racquet.model != "None") { %> <%= req.data.racquet.model %><% } %></h1>
	    	</div>

	    	<div id="fullWindow">
	    		<h2>Specifications</h2>

	    		<h3>General</h3>
	    		<table>
	    			<tr>
	    				<th>Siffness</th>
	    				<th>Balance</th>
	    			</tr>
	    			<tr>
	    				<td><% if (req.data.racquet.stiffness) { %><%= req.data.racquet.stiffness %>RA<% } else { %>-<% } %></td>
	    				<td><% if (req.data.racquet.balance) { %><%= req.data.racquet.balance %><% } else { %>-<% } %></td>
	    			</tr>
	    		</table>

	    		<h3>String Pattern</h3>
	    		<table>
	    			<tr>
	    				<th>Mains</th>
	    				<th>Crosses</th>
	    			</tr>
	    			<tr>
	    				<td><% if (req.data.racquet.mains) { %><%= req.data.racquet.mains %><% } else { %>-<% } %></td>
	    				<td><% if (req.data.racquet.crosses) { %><%= req.data.racquet.crosses %><% } else { %>-<% } %></td>
	    			</tr>
	    		</table>

	    		<h3>Weight</h3>
	    		<table>
	    			<tr>
	    				<th>Strung Weight</th>
	    				<th>Unstrung Weight</th>
	    				<th>Swing Weight</th>
	    			</tr>
	    			<tr>
	    				<td><% if (req.data.racquet.strungWeight) { %><%= req.data.racquet.strungWeight %>g<% } else { %>-<% } %></td>
	    				<td><% if (req.data.racquet.unstrungWeight) { %><%= req.data.racquet.unstrungWeight %>g<% } else { %>-<% } %></td>
	    				<td><% if (req.data.racquet.swingWeight) { %><%= req.data.racquet.swingWeight %>g<% } else { %>-<% } %></td>
	    			</tr>
	    		</table>

	    		<h3>Dimensions</h3>
	    		<table>
	    			<tr>
	    				<th>Length</th>
	    				<th>Head Size</th>
	    				<th>Beam Width Top</th>
	    				<th>Beam Width Sides</th>
	    				<th>Beam Width Bottom</th>
	    				<th>Beam Thickness Top</th>
	    				<th>Beam Thickness Sides</th>
	    				<th>Beam Thickness Bottom</th>
	    			</tr>
	    			<tr>
	    				<td><% if (req.data.racquet.length) { %><%= req.data.racquet.length %> inches<% } else { %>-<% } %></td>
	    				<td><% if (req.data.racquet.headSize) { %><%= req.data.racquet.headSize %> sqr. inches<% } else { %>-<% } %></td>
	    				<td><% if (req.data.racquet.beamWidthTop) { %><%= req.data.racquet.beamWidthTop %>mm<% } else { %>-<% } %></td>
	    				<td><% if (req.data.racquet.beamWidthSide) { %><%= req.data.racquet.beamWidthSide %>mm<% } else { %>-<% } %></td>
	    				<td><% if (req.data.racquet.beamWidthBottom) { %><%= req.data.racquet.beamWidthBottom %>mm<% } else { %>-<% } %></td>
	    				<td><% if (req.data.racquet.beamThicknessTop) { %><%= req.data.racquet.beamThicknessTop %>mm<% } else { %>-<% } %></td>
	    				<td><% if (req.data.racquet.beamThicknessSides) { %><%= req.data.racquet.beamThicknessSides %>mm<% } else { %>-<% } %></td>
	    				<td><% if (req.data.racquet.beamThicknessBottom) { %><%= req.data.racquet.beamThicknessBottom %>mm<% } else { %>-<% } %></td>
	    			</tr>
	    		</table>
	    	</div>

	    	<div id="fullWindow">
	    		<h2>Customisations</h2>
	    		<% if (req.data.racquetCustomisations.length == 0) { %>
	    		<p>No Customisations</p>
	    		<% } else { %>
	    		<table>
	    			<tr>
	    				<th>Name</th>
	    				<th>Rating</th>
	    			</tr>
	    			<% for(var i = 0; i < req.data.racquetCustomisations.length; i++) { %>
	    			<tr>
						<td><a href="/databases/customisations/<%= req.data.racquetCustomisations[i].customisationName %>"><%= req.data.racquetCustomisations[i].customisationName %></a></td>
						<td><%= req.data.racquetCustomisations[i].rating %> / 10</td>
					</tr>
	    			<% } %>
	    		</table>
	    		<% } %>
	    		<br>
				<button onclick="location.href='/databases/customisations/newcustomisation'" type="button">Add a customisation</button>
	    	</div>

	    	<div id="fullWindow">
	    		<h2>Other Models</h2>
	    		<% if (req.data.otherRacquetModels == undefined) { %>
	    		<p>No Other Models</p>
	    		<% } else { %>
	    			<% for (var i = 0; i < req.data.otherRacquetModels.length; i++) { %>
	    				<a href="/databases/racquets/<%= req.data.otherRacquetModels[i].brandName %>-<%= req.data.otherRacquetModels[i].racquetName %>-<%= req.data.otherRacquetModels[i].model %>"><%= req.data.otherRacquetModels[i].brandName %> <%= req.data.otherRacquetModels[i].racquetName %> <%= req.data.otherRacquetModels[i].model %></a>
	    			<% } %>
	    		<% } %> 
	    	</div>

	    	<% if (req.session.loggedIn == true) { %>
	    	<div id="fullWindow">
	    		<h2>New Review</h2>
	    		<form action="" method="post">
	    			<textarea style="width: 100%; height: 200px"></textarea><br><br>
	    			<input type="submit" value="Post Review">
	    		</form>
 	    	</div>
	    	<% } %>

	    	<div id="fullWindow">
	    		<h2>Reviews</h2>
	    		<% if (req.data.reviews == undefined) { %><p>No Reviews</p><% } %>
	    	</div>

	    	<div id="fullWindow">
	    		<p style="word-break:break-all;"><%= JSON.stringify(req.data.racquet) %></p>
	    	</div>
	</div>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>