<div id="fullContainer">
	<div id="subNav">
		<ul>
			<li><a href="/profile/<%= req.session.username %>">Overview</a></li>
			<li><a href="/profile/<%= req.session.username %>/tour">Tour</a></li>
			<li><a href="/profile/<%= req.session.username %>/history">Playing History</a></li>
			<li><a href="/profile/<%= req.session.username %>/settings">Settings</a></li>		
		</ul>
	</div>
</div>