<p>
	<a href="/profile/<%= data.user.username %>">Overview</a>
	<a href="/profile/<%= data.user.username %>/tour">Tour</a>
	<a href="/profile/<%= data.user.username %>/history">Playing Activity</a>
</p>