<html>

<head>
    <%- include('../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../common/header', {req: req}) %>

    <h1>Nexus Tennis - Search</h1>

    <% if (req.searchResult.users.length > 0) { %>
    <table>
    	<tr>
    		<th>Username</th>
    		<th>Name</th>
    	<tr>
    	<% for(var i = 0; i < req.searchResult.users.length; i++) { %>
	    <tr>
	    	<td><a href="/profile/<%= req.searchResult.users[i].username %>"><%= req.searchResult.users[i].username %></a></td>
	    	<td><%= req.searchResult.users[i].firstname %> <%= req.searchResult.users[i].lastname %></td>
	    </tr>
	    <% } %>
    </table>
    <% } else { %>
    <h3>No results found</h3>
    <% } %>

    <%- include('../common/footer', {req: req}) %>
</body>

</html>
