<html>

<head>
    <%- include('../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../common/header', {req: req}) %>

    <h1>Nexus Tennis - Search</h1>

    <%- include('../common/footer', {req: req}) %>
</body>

</html>
