<html>

<head>
    <%- include('../common/headers', {req: req}) %>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <%- include('../common/header', {req: req}) %>

    <h1>Nexus Tennis - Tools</h1>

    <a href="/tools/scoresandstatstracker">Scores and Stats Tracker</a>

    <%- include('../common/footer', {req: req}) %>
</body>

</html>
