<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
   		<div id="fullContainer">
	    	<div id="subNav">
	    		<ul>
	    			<li><a href="/rankings/atp">ATP Rankings</a></li>
	    			<li><a href="/rankings/atp/singles">Singles</a></li>
	    			<li><a href="/rankings/atp/singlesrace">Singles Race To London</a></li>
	    			<li><a href="/rankings/atp/nextgenrace">U/21 Race To Milan</a></li>
	    			<li><a href="/rankings/atp/doubles">Doubles</a></li>
	    			<li><a href="/rankings/atp/doublesrace">Doubles Race To London</a></li>
	    		</ul>
	    	</div>
    	</div>

    	<p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <a href="/rankings">Rankings</a> > ATP</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<h2>Search Rankings</h2>
	    		<form action="" method="post">
	    			<input type="submit" value="Search">
	    		</form>
	    	</div>

	    	<div id="fullWindow">
	    		<h2>Top 10 ATP Singles Rankings</h2>
	    		<table id="borderTable" style="width:100%">
	    			<tr>
	    				<th>Ranking</th>
	    				<th>Move</th>
	    				<th>Player</th>
	    				<th>Points</th>
	    				<th>Tournaments Played</th>
	    				<th>Points Dropping</th>
	    			</tr>
	    		<% for (var i = 0; i < req.data.atpTopTenSinglesRankings.length; i++) { %>
	    			<tr>
	    				<td><%= req.data.atpTopTenSinglesRankings[i].rank %></td>
	    				<td><%= req.data.atpTopTenSinglesRankings[i].move %></td>
	    				<td><%= req.data.atpTopTenSinglesRankings[i].playerName %></td>
	    				<td><%= req.data.atpTopTenSinglesRankings[i].points %></td>
	    				<td><%= req.data.atpTopTenSinglesRankings[i].tournamentsPlayed %></td>
	    				<td><%= req.data.atpTopTenSinglesRankings[i].pointsDropping %></td>
	    			</tr>
	    		<% } %>
	    		</table>
	    	</div>
	    </div>
	</div>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>
