html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 92px 0 0 0;
}

body {
	background-color: #E8E8EE;
}

#wrapper {
	width: 1000px;
	margin: 20px auto;
	padding: 0px 10px;
}

#fullContainer {
	width: 1000px;
}

#leftContainer {
	width: 245px;
	float: left;
}

#rightContainer {
	width: 745px;
	float: right;
}

#fullWindow {
	width: 980px;
	background-color: #ffffff;
	margin: 0px 0px 10px 0px;
	padding: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#leftWindow {
	width: 225px;
	background-color: #ffffff;
	margin: 0px 0px 10px 0px;
	padding: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#rightWindow {
	width: 725px;
	background-color: #ffffff;
	margin: 0px 0px 10px 0px;
	padding: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#breadcrumbs {
	/*margin-left: 5px;*/
}

h1, h2 {
	margin-top: 10px;
}

#borderTable {
	border: 1px solid black;
}

#borderTable th, #borderTable td {
	border: 1px solid black;
	padding: 10px;
}