<div id="header">
	<!--<div id="search">
		<form action="/search" method="post">
			<input type=text name="search" placeholder="Search" />
		</form>
	</div>-->

	<div id='cssmenu'>
		<ul>
			<li id="left"><a href="/">Nexus Tennis</a></li>
			<!--<li id="left">
				<a href="/rankings">Rankings</a>
				<ul>
					<li><a href='#'>ATP Rankings</a></li>
					<li><a href='#'>WTA Rankings</a></li>
					<li><a href='#'>ITF Boys Rankings</a></li>
					<li><a href='#'>ITF Girls Rankings</a></li>
					<li><a href='#'>National Rankings</a></li>
				</ul>
			</li>-->
			<!--<li id="left"><a href="/livescores">Live Scores</a></li>-->
			<!--<li id="left">
				<a href="/tournaments">Tournaments</a>
				<ul>
					<li>
						<a href='#'>ATP</a>
						<ul>
			               <li><a href='#'>Australia</a></li>
			               <li><a href='#'>USA</a></li>
			            </ul>
					</li>
					<li><a href='#'>WTA</a></li>
					<li>
						<a href='#'>National</a>
						<ul>
			               <li><a href='#'>Australia</a></li>
			               <li><a href='#'>USA</a></li>
			            </ul>
					</li>
				</ul>
			</li>-->
			<!--<li id="left"><a href="#">Competitions</a></li>-->
			<!--<li id="left">
				<a href="#">Finder</a>
				<ul>
					<li><a href='#'>Find a Hitting Partner</a></li>
					<li><a href='#'>Find a Doubles Partner</a></li>
					<li><a href='#'>Find a Stringer</a></li>
				</ul>
			</li>-->
			<li id="left">
				<a href='/tools'>Tools</a>
				<ul>
					<!--<li><a href='/tools/scoresandstatstracker'>Scores and Stats Tracker</a></li>-->
					<li><a href='/tools/tourbuilder'>Tour Builder</a></li>
					<!--<li><a href='/tools/tourcalculator'>Tour Calculator</a></li>-->
				</ul>
			</li>
			<!--<li id="left">
				<a href="/databases">Databases</a>
				<ul>
					<li><a href='/databases/racquets'>Racquets</a></li>
					<li><a href='/databases/customisations'>Racquet Customisations</a></li>
					<li><a href='/databases/strings'>Strings</a></li>
				</ul>
			</li>-->
			<!--<li id="left"><a href="/onlinecoach">Online Coach</a></li>-->

			<% if (req.session.loggedIn) { %>
			<li id="right"><a href="/logout">Logout</a></li>
			<li id="right"><a href="/profile/<%= req.session.username %>">Profile</a></li>
			<% } else { %>
			<li id="right"><a href="/login">Login</a></li>
			<li id="right"><a href="/register">Register</a></li>
			<% } %>
		</ul>
	</div>
</div>