<meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/css/navigation.css">
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/subNav.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="/js/navigation.js"></script>
   <title>Nexus Tennis</title>