<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
    	<div id="fullContainer">
	    	<div id="subNav">
	    		<ul>
	    			<li><a href="/tournaments">Tournaments</a></li>
	    			<li><a href="/tournaments/atp">ATP</a></li>
	    			<li><a href="/tournaments/wta">WTA</a></li>
	    			<li><a href="/tournaments/national">National</a></li>
	    		</ul>
	    	</div>
    	</div>

    	<p id="breadcrumbs">Nexus Tennis > Tournaments > National > Australia > AMT</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<form action="" method="post">
	    			<input type="checkbox" name="manualTournamentLevel" value="amtPlatinum"> AMT Platinum<br>
	        		<input type="checkbox" name="manualTournamentLevel" value="amtGold"> AMT Gold<br>
	        		<input type="checkbox" name="manualTournamentLevel" value=""> AMT Silver<br>
	        		<input type="checkbox" name="manualTournamentLevel" value=""> AMT Bronze<br>
	        		<input type="checkbox" name="manualTournamentLevel" value=""> AMT White<br>
	    		</form>
	    	</div>

	        <div id="fullWindow">
				<div id="map" style="height: 900px;"></div><br>

				<script>
					var map;
					var homeCoordinates;
					var tournaments = <%- JSON.stringify(req.data.tournaments) %>;
					
					function initMap() {
						map = new google.maps.Map(document.getElementById('map'), {
							center: {
								lat: -28.5,
								lng: 133.5
							},
							zoom: 5,
							draggableCursor: 'crosshair'
						});

						var infowindow = new google.maps.InfoWindow();

						var marker, i;

						for (i = 0; i < tournaments.length; i++) {
							var icon = {
							    scaledSize: new google.maps.Size(30, 34), // scaled size
							    origin: new google.maps.Point(0,0), // origin
							    anchor: new google.maps.Point(0, 0) // anchor
							};

							if      (tournaments[i].level == "atp250") icon.url = "/images/tournamentIcons/atp250.png";
							else if (tournaments[i].level == "atp500") icon.url = "/images/tournamentIcons/atp500.png";
							else if (tournaments[i].level == "atp1000") icon.url = "/images/tournamentIcons/atp1000.png";
							else if (tournaments[i].level == "grandslam") icon.url = "/images/tournamentIcons/atpGrandSlam.png";
							else if (tournaments[i].level == "nextgen") icon.url = "/images/tournamentIcons/atpNextGenFinals.png";
							else if (tournaments[i].level == "finals") icon.url = "/images/tournamentIcons/atpFinals.png";

							marker = new google.maps.Marker({
								position: new google.maps.LatLng(tournaments[i].latitude, tournaments[i].longitude),
								map: map,
								icon: icon
							});

							google.maps.event.addListener(marker, 'click', (function(marker, i) {
								return function() {
									infowindow.setContent(
										"<p><a href='" + tournaments[i].organisationURL + "'>" + tournaments[i].tournamentName + "</a></p>" +
										"<p>" + tournaments[i].city + ", " + tournaments[i].country + "</p>" +
										"<p>" + formatDate(tournaments[i].startDate) + " to " + formatDate(tournaments[i].endDate) + "</p>" +
										"<p>" + tournaments[i].courtSurface + " (" + tournaments[i].courtType + ")</p>" +
										"<p>" + tournaments[i].totalFinancialCommitment + "</p>"
									);
									infowindow.open(map, marker);
								}
							})(marker, i));
						}
					}

					function formatDate(date) {
						date = date.split("-");
						
						var dd   = date[2];
						var mm   = date[1];
						var yyyy = date[0];

						return dd + "/" + mm + "/" + yyyy;
					};
				</script>

				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNPBIAjrx9vq1SsspqjAiD6JB37xHUX3A&callback=initMap" async defer></script>

	        </div>
	    </div>
	</div>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>