<!DOCTYPE html>
<html>

<head>
    <%- include('common/headers', {req: req}) %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('common/header', {req: req}) %>

    <div id="wrapper">

        <div id="leftContainer">
            <div id="leftWindow" style="text-align: center;">
            <h2 style="margin: 5px">Tools</h2>
            </div>

            <a href="/tools/tourbuilder" style="text-decoration: none;">
                <div id="leftWindow" class="pageIcon" style="text-align: center; background-color: lightblue">
                    <img src="/images/pageIcons/tourBuilder.png" style="margin: 5px auto; width: 200px;">
                    <div class="yes"><h3 style="margin: 5px">Tour Builder</h3></div>
                    <!--<h2>Build a list of tournaments you want to play!</h2>-->
                </div>
            </a>
        </div>

        
        <div id="rightContainer">
            <% if (!req.session.loggedIn) { %>
            <div id="rightWindow">
                <form action="/login" method="post">
                    <table id="loginBox" style="margin: 0 auto; text-align: center;">
                        <tr><td><h1>Welcome To Nexus Tennis!</h1></td></tr>
                        <tr><td><input type="text" name="email" placeholder="Email" style="padding: 20px; margin: 10px 0;"></td></tr>
                        <tr><td><input type="password" name="password" placeholder="Password" style="padding: 20px; margin: 10px 0;"></td></tr>
                        <tr><td><input type="submit" value="Login" style="padding: 20px; margin: 10px 0; width: 100px;"></td></tr>
                    </table>
                </form>

                <% if (errors) { %>
                <ul>
                    <% for (var i = 0; i < errors.length; i++) { %>
                    <li><%= errors[i] %></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
            <% } %>

            <div id="rightWindow">
                <h1>Coming Soon!</h1>
                <p><b>Equipment Databases</b> - Browse detailed specs for racquets, string and customisations</p>
                <p><b>Tour Calculator</b> - Calculates a tailor made tour for you to play</p>
                <p><b>News Feed</b> - Gives you updates about your friends tournament activity</p>
                <br>
                <p>Please submit any enquiries to nexustennisglobal@gmail.com</p>
                <p>We would love to hear your suggestions and feedback</p>
            </div>
        </div>
    </div>

    <%- include('common/footer', {req: req}) %>

</body>

</html>
