<html>

<head>
    <%- include('common/headers', {req: req}) %>
</head>

<body>
    <%- include('common/header', {req: req}) %>

    <div id="wrapper">
        <div id="fullContainer">
            <div id="fullWindow">

                <form action="" method="post">
                    <table id="loginBox" style="margin: 0 auto; text-align: center;">
                        <tr><td><h2>Welcome Back!</h2></td></tr>
                        <tr><td><input type="text" name="email" placeholder="Email" style="padding: 20px; margin: 10px 0;"></td></tr>
                        <tr><td><input type="password" name="password" placeholder="Password" style="padding: 20px; margin: 10px 0;"></td></tr>
                        <tr><td><input type="submit" value="Login" style="padding: 20px; margin: 10px 0; width: 100%;"></td></tr>
                    </table>
                </form>

                <% if (errors) { %>
                <ul>
                    <% for (var i = 0; i < errors.length; i++) { %>
                    <li><%= errors[i] %></li>
                    <% } %>
                </ul>
                <% } %>

                <!--<h2>Users</h2>

                <table>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                    </tr>
                <% for (var i = 0; i < users.length; i++) { %>
                    <tr>
                        <td><%= users[i].firstname %></li></td>
                        <td><%= users[i].lastname %></li></td>
                        <td><%= users[i].email %></li></td>
                    </tr>
                <% } %>
                </table>-->
            </div>
        </div>
    </div>

    <%- include('common/footer') %>
</body>

</html>
