<html>

<head>
    <%- include('common/headers', {req: req}) %>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <%- include('common/header', {req: req}) %>

    <div id="wrapper">
        <div id="fullContainer">
            <div id="fullWindow" style="text-align: center;">
                <h1>Welcome to Nexus Tennis!</h1>
                <h2>Let's connect the Tennis world together</h2>

                <form action="" method="post">
                    <p>What are you? (You can select multiple options):</p>
                    <p>
                        <input type="checkbox" name="profileType" value="player"> Player
                        <input type="checkbox" name="profileType" value="coach"> Coach
                        <input type="checkbox" name="profileType" value="stringer"> Stringer
                        <input type="checkbox" name="profileType" value="customiser"> Customiser
                    </p>
                    
                    <table style="margin: 0 auto;">
                        <tr><td><input type="text" name="email" placeholder="Email" style="padding: 20px; margin: 10px 0;"></td></tr>
                        <tr><td><input type="text" name="firstname" placeholder="First Name" style="padding: 20px; margin: 10px 0;"></td></tr>
                        <tr><td><input type="text" name="lastname" placeholder="Last Name" style="padding: 20px; margin: 10px 0;"></td></tr>
                    </table>
                    
                    <p>
                        Gender:
                        <input type="radio" name="gender" value="male"> Male
                        <input type="radio" name="gender" value="female"> Female
                    </p>

                    <p>Date of Birth: <input type="date" name="dateOfBirth"></p>

                    <table style="margin: 0 auto;">
                        <tr><td><input type="password" name="password"        placeholder="Password"         style="padding: 20px; margin: 10px 0;"></td></tr>
                        <tr><td><input type="password" name="confirmPassword" placeholder="Confirm Password" style="padding: 20px; margin: 10px 0;"></td></tr>
                    </table>
                    
                    <center><div class="g-recaptcha" data-sitekey="6LdNVjkUAAAAALF1FvhR_M8GdXKS6x27bcT8Kkm9" style="margin: 10px 0;"></div></center>

                    <input type="submit" value="Register" style="padding: 20px; margin: 10px 0; width: 200px;">
                </form>

                <% if (errors) { %>
                <ul>
                    <% for (var i = 0; i < errors.length; i++) { %>
                    <li><%= errors[i] %></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('common/footer', {req: req}) %>

</body>

</html>
