<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <h1>Nexus Tennis > Profile > <%= req.session.firstname %> <%= req.session.lastname %> > Goals</h1>

    <%- include('../../common/profile/myProfileHeader', {req: req}) %>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>
