<html>

<head>
	<%- include('../../common/headers', {req: req}) %>
    <title>Nexus Tennis</title>
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
        <%- include('../../common/profile/myProfileHeader', {req: req}) %>

        <p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <a href="/profile/<%= req.session.username %>"><%= req.session.firstname %> <%= req.session.lastname %></a> > Playing History</p>

        <div id="fullContainer">
        	<div id="fullWindow">
        	   <table id="borderTable">
                    <thead>
                        <tr>
                            <th>Tournament</th>
                            <th>Tour</th>
                            <th>Level</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Surface</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < req.data.history.length; i++) { %>
                        <tr>
                            <td><%= req.data.history[i].tournamentName %></td>
                            <td><%= req.data.history[i].tour %></td>
                            <td><%= req.data.history[i].level %></td>
                            <td><%= (new Date(req.data.history[i].startDate)).toISOString().substring(0, 10) %></td>
                            <td><%= (new Date(req.data.history[i].endDate)).toISOString().substring(0, 10) %></td>
                            <td><%= req.data.history[i].courtSurface %></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
			</div>
		</div>
    </div>

	<%- include('../../common/footer', {req: req}) %>
</body>

</html>