<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
        <%- include('../../common/profile/myProfileHeader', {req: req}) %>

        <p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <%= req.session.firstname %> <%= req.session.lastname %></p>

        <div id="leftContainer">
        	<div id="leftWindow">
        		<img src="/images/profile/<%= req.session.username %>.jpg" onerror="this.src = '/images/profile/default.jpg';" style="width: 225px; max-height: 225px;" />
        	</div>

        	<div id="leftWindow">
	        	<h2>Rankings</h2>

			    <table id="borderTable">
			    	<tr>
			    		<% if (req.data.userData.gender == "male") { %><th>ATP</th><% } %>
			    		<% if (req.data.userData.gender == "female") { %><th>WTA</th><% } %>
			    		<th>National</th>
			    		<th>ITF</th>
			    	</tr>
			    	<tr>
			    		<td><% if (req.data.userData.internationalRanking) { %><%= req.data.userData.internationalRanking %><% } else { %>-<% } %></td>
			    		<td><% if (req.data.userData.nationalRanking) { %><%= req.data.userData.nationalRanking %><% } else { %>-<% } %></td>
			    		<td><% if (req.data.userData.itfJuniorRanking) { %><%= req.data.userData.itfJuniorRanking %><% } else { %>-<% } %></td>
 			    	</tr>
			    </table>
			</div>

        	<div id="leftWindow">
	        	<h2>External Profiles</h2>

			    <p><a target="_blank" href="http://<%= req.data.userData.internationalProfileLink %>"><% if (req.data.userData.gender == "male") { %>ATP Profile<% } else if (req.data.userData.gender == "female") { %>WTA Profile<% } %></a></p>

			    <p><a target="_blank" href="<%= req.data.userData.itProfileLink %>">ITF Pro Profile</a></p>
			    
			    <p><a target="_blank" href="<%= req.data.userData.itfJuniorProfileLink %>">ITF Junior Profile</a></p>
			    
			    <p><a target="_blank" href="<%= req.data.userData.nationalProfileLink %>">National Profile</a></p>
	        </div>

        </div>

        <div id="rightContainer">
        	<div id="rightWindow">

			    <h1><%= req.session.firstname %> <%= req.session.lastname %></h1>

			    <p><%= req.data.userData.biography %></p>

			    <table id="borderTable">
			    	<tr>
			    		<th>Country</th>
				    	<th>Year Started Playing</th>
				    	<th>Playing Hand</th>
				    	<th>Backhand Type</th>
				    	<th>Height</th>
				    	<th>Weight</th>
				    </tr>
				    <tr>
				    	<td><% if(req.data.userData.countryName) { %><%= req.data.userData.countryName %><% } else { %>-<% } %></td>
				    	<td><% if(req.data.userData.yearStartedPlaying) { %><%= req.data.userData.yearStartedPlaying %><% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.playingHand == "right") { %>Right<% } else if (req.data.userData.playingHand == "left") { %>Left<% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.backhandType == 1) { %>One Handed<% } else if (req.data.userData.backhandType == 2) { %>Two Handed<% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.height) { %><%= req.data.userData.height %><% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.weight) { %><%= req.data.userData.weight %><% } else { %>-<% } %></td>
				    </tr>
			    </table>

			</div>

			<div id="rightWindow">

			    <h2>Equipment</h2>

			    <h3>Racquet</h3>

			    <table id="borderTable">
			    	<tr>
				    	<th>Racquet Brand</th>
				    	<th>Racquet</th>
				    	<th>Racquet Model</th>
				    </tr>
				    <tr>
				    	<td><% if (req.data.userData.racquetBrand) { %><%= req.data.userData.racquetBrand %><% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.racquetName) { %><%= req.data.userData.racquetName %><% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.racquetModel) { %><%= req.data.userData.racquetModel %><% } else { %>-<% } %></td>
				    </tr>
			    </table>

			    <h3>Main String</h3>

			    <table id="borderTable">
			    	<tr>
				    	<th>Main String Brand</th>
				    	<th>Main String</th>
				    	<th>Main String Guage</th>
				    	<th>Main Tension (lbs)</th>
				    </tr>
				    <tr>
				    	<td><% if (req.data.userData.mainStringID) { %><%= req.data.userData.mainStringBrand %><% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.mainStringName) { %><%= req.data.userData.mainStringName %><% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.mainStringID) { %><%= req.data.userData.mainStringGuage %><% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.mainStringTension) { %><%= req.data.userData.mainStringTension %><% } else { %>-<% } %></td>
				    </tr>
			    </table>

			    <h3>Cross String</h3>

			    <table id="borderTable">
			    	<tr>

				    	<th>Cross String Brand</th>
				    	<th>Cross String</th>
				    	<th>Cross String Guage</th>
				    	<th>Cross Tension (lbs)</th>
				    </tr>
				    <tr>
				    	<td><% if (req.data.userData.crossStringBrand)   { %><%= req.data.userData.crossStringBrand   %><% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.crossStringName)    { %><%= req.data.userData.crossStringName    %><% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.crossStringGuage)   { %><%= req.data.userData.crossStringGuage   %><% } else { %>-<% } %></td>
				    	<td><% if (req.data.userData.crossStringTension) { %><%= req.data.userData.crossStringTension %><% } else { %>-<% } %></td>
				    </tr>
			    </table>

	        </div>
	    </div>

    <%- include('../../common/footer', {req: req}) %>

</body>

</html>
