<!DOCTYPE html>
<html>

<head>
	<%- include('../../common/headers', {req: req}) %>
    <title>Nexus Tennis</title>
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">

    	<%- include('../../common/profile/myProfileHeader', {req: req}) %>

        <p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <a href="/profile/<%= req.session.username %>"><%= req.session.firstname %> <%= req.session.lastname %></a> > Settings</p>

        <div id="fullContainer">
        	<% if (req.errors) { %>
        	<div id="fullWindow">
			    <div id="container">
				    <ul>
				        <% for (var i = 0; i < req.errors.length; i++) { %>
				        <li><%= req.errors[i] %></li>
				        <% } %>
				    </ul>
			    </div>
			</div>
			<% } %>

			<%
			
				function getBrandIdFromRacquetId(racquetID) {
				    for (i = 0; i < data.racquets.length; i++) {
				        if (data.racquets[i].racquetID == racquetID) return data.racquets[i].brandID;
				    }
				}

				function getRacquetNameFromRacquetId(racquetID) {
				    for (i = 0; i < data.racquets.length; i++) {
				        if (data.racquets[i].racquetID == racquetID) return data.racquets[i].racquetName;
				    }
				}

				function getRacquetModelFromRacquetId(racquetID) {
				    for (i = 0; i < data.racquets.length; i++) {
				        if (data.racquets[i].racquetID == racquetID) return data.racquets[i].model;
				    }
				}

				function getBrandIdFromStringID(stringID) {
				    for (i = 0; i < data.strings.length; i++) {
				        if (data.strings[i].stringID == stringID) return data.strings[i].brandID;
				    }
				}

				function getStringNameFromStringID(stringID) {
				    for (i = 0; i < data.strings.length; i++) {
				        if (data.strings[i].stringID == stringID) return data.strings[i].stringName;
				    }
				}

				function getStringGuageFromStringID(stringID) {
				    for (i = 0; i < data.strings.length; i++) {
				        if (data.strings[i].stringID == stringID) return data.strings[i].guage;
				    }
				}

				var racquetBrandID = getBrandIdFromRacquetId(data.userData.racquetID);
				var racquetName    = getRacquetNameFromRacquetId(data.userData.racquetID);
				var racquetModel   = getRacquetModelFromRacquetId(data.userData.racquetID);

				var mainStringBrandID = getBrandIdFromStringID(data.userData.mainStringID);
				var mainStringName    = getStringNameFromStringID(data.userData.mainStringID);
				var mainStringGuage   = getStringGuageFromStringID(data.userData.mainStringID);

				var crossStringBrandID = getBrandIdFromStringID(data.userData.crossStringID);
				var crossStringName    = getStringNameFromStringID(data.userData.crossStringID);
				var crossStringGuage   = getStringGuageFromStringID(data.userData.crossStringID);

			%>

			<div id="fullWindow">

			    <h2>Login Information</h2>

			    <form action="" method="post">
			    	<input type="submit" value="Update Login Details">
			    </form>

			</div>

			<div id="fullWindow">

			    <h2>Profile Information</h2>

			    <p>Please enter all the information relevent to you</p>

			    <form action="" method="post" enctype="multipart/form-data">
			    	<p>Update Profile Picture:</p>
			    	<input type="file" name="profilePicture" accept="image/*"><br>
			    	<br>
			    	Biography:<br>
			    	<textarea name="biography" rows="10" cols="100" maxlength="1000" style="resize: none"><% if (data.userData.biography != null) { %><%= data.userData.biography %><% } %></textarea><br>
			    	<br>
			    	Height (cm): <input type="number" name="height" placeholder="Height (cm)" <% if (data.userData.height != null) { %>value="<%= data.userData.height %>"<% } %> ><br>
			    	Weight (kg): <input type="number" name="weight" placeholder="Weight (kg)" <% if (data.userData.weight != null) { %>value="<%= data.userData.weight %>"<% } %> /><br>
			    	<br>
			    	<select name="country">
						<% if (data.userData.countryID == null) { %><option value="" selected disabled hidden>Select Country</option><% } %>
						<% for (i = 0; i < data.countries.length; i++) { %>
						<option value="<%= data.countries[i].name %>" <% if (data.userData.countryID == data.countries[i].countryID) { %>selected<% } %> ><%= data.countries[i].name %></option>
						<% } %>
					</select><br>
					<br>
					Year Started Playing Tennis: <input type="number" name="yearStartedPlaying" min="1900" max="2100" <% if (data.userData.yearStartedPlaying != null) { %>value="<%= data.userData.yearStartedPlaying %>"<% } %> /><br>
					<br>
					Playing Hand: <select name="playingHand">
						<% if (data.userData.playingHand == null) { %><option value="" selected disabled hidden>Select Playing Hand</option><% } %>
						<option value="left" <% if (data.userData.playingHand == "left") { %>selected<% } %> >Left</option>
						<option value="right" <% if (data.userData.playingHand == "right") { %>selected<% } %> >Right</option>
					</select><br>
					<br>
					Backhand Type: <select name="backhandType">
						<% if (data.userData.playingHand == null) { %><option value="" selected disabled hidden >Select Backhand Type</option><% } %>
						<option value="1" <% if (data.userData.backhandType == 1) { %>selected<% } %> >One Handed</option>
						<option value="2" <% if (data.userData.backhandType == 2) { %>selected<% } %> >Two Handed</option>
					</select><br>
					<br>
					Are you looking for a college scholarship?<br>
			    	<input type="radio" name="isLookingForCollegeScholarship" value="1" <% if (data.userData.isLookingForCollegeScholarship == true) { %> checked="checked" <% } %> /> Yes<br>
			    	<input type="radio" name="isLookingForCollegeScholarship" value="0" <% if (data.userData.isLookingForCollegeScholarship == false) { %> checked="checked" <% } %> /> No<br>
			    	<br>
			    	Are you looking for a sponsorship?<br>
			    	<input type="radio" name="isLookingForSponsorship" value="1" <% if (data.userData.isLookingForSponsorship == true) { %> checked="checked" <% } %> /> Yes<br>
			    	<input type="radio" name="isLookingForSponsorship" value="0" <% if (data.userData.isLookingForSponsorship == false) { %> checked="checked" <% } %> /> No<br>
			    	<br>

			    	<h3>Rankings</h3>

			    	<% if (data.userData.gender == "male") { %>ATP<% } else if (data.userData.gender == "female") { %>WTA<% } %> Ranking: <input type="number" name="internationalRanking" min="1" max="9999" <% if (data.userData.internationalRanking != null) { %>value="<%= data.userData.internationalRanking %>"<% } %> /><br>
					<br>
					
					ITF Junior Ranking: <input type="number" name="itfJuniorRanking" min="1" max="9999" <% if (data.userData.itfJuniorRanking != null) { %>value="<%= data.userData.itfJuniorRanking %>"<% } %> /><br>
					<br>
					
					National Ranking: <input type="number" name="nationalRanking" min="1" max="999999" <% if (data.userData.nationalRanking != null) { %>value="<%= data.userData.nationalRanking %>"<% } %> /><br>
					<br>

					<h3>Profiles</h3>

					<% if (data.userData.gender == "male") { %>ATP<% } else if (data.userData.gender == "female") { %>WTA<% } %> Profile (Paste URL): <input type="text" name="internationalProfileLink" maxlength="128" <% if (data.userData.internationalProfileLink != null) { %>value="<%= data.userData.internationalProfileLink %>"<% } %> /><br>
					<br>

					ITF Profile (Paste URL): <input type="text" name="itfProfileLink" maxlength="128" <% if (data.userData.itfProfileLink != null) { %>value="<%= data.userData.itfProfileLink %>"<% } %> /><br>
					<br>
					
					ITF Junior Profile (Paste URL): <input type="text" name="itfJuniorProfileLink" maxlength="128" <% if (data.userData.itfJuniorProfileLink != null) { %>value="<%= data.userData.itfJuniorProfileLink %>"<% } %> /><br>
					<br>
					
					National Ranking Profile (Paste URL): <input type="text" name="nationalProfileLink" maxlength="128" <% if (data.userData.nationalProfileLink != null) { %>value="<%= data.userData.nationalProfileLink %>"<% } %> /><br>
					<br>

					<h3>Racquet</h3>

					Racquet Brand: 
					<select id="racquetBrand" name="brandName" onchange="changeRacquetNames()">
						<option value=""<% if (data.userData.racquetID == null) { %> selected<% } %>>Select Racquet Brand</option>
						<% for (i = 0; i < data.brands.length; i++) { %>
						<option value="<%= data.brands[i].brandName %>" <% if (racquetBrandID == data.brands[i].brandID) { %>selected<% } %> ><%= data.brands[i].brandName %></option>
						<% } %>
					</select><br><br>

					Racquet Name: 
					<select id="racquetName" name="racquetName" onchange="changeRacquetModels()">
						<% if (data.userData.racquetID == null) { %><option value="" selected disabled>Select Racquet Name</option><% } %>
			            <% if (data.userData.racquetID != null) { %><option value="<%= racquetName %>"><%= racquetName %></option><% } %>
					</select><br><br>

					Racquet Model:
					<select id="racquetModel" name="racquetModel">
						<% if (data.userData.racquetID == null) { %><option value="" selected disabled>Select Racquet Model</option><% } %>
			            <% if (data.userData.racquetID != null) { %><option value="<%= racquetModel %>"><%= racquetModel %></option><% } %>
					</select><br>
					<br>

					<h3>Strings</h3>

					<h4>Mains</h4>

					Brand: 
					<select id="mainStringBrand" name="mainStringBrand" onchange="changeMainStringNames()">
						<option value=""<% if (data.userData.mainStringID == null) { %> selected<% } %>>Select Brand</option>
						<% for (i = 0; i < data.brands.length; i++) { %>
						<option value="<%= data.brands[i].brandName %>" <% if (mainStringBrandID == data.brands[i].brandID) { %>selected<% } %> ><%= data.brands[i].brandName %></option>
						<% } %>
					</select><br><br>

					String: 
					<select id="mainStringName" name="mainStringName" onchange="changeMainStringGuages()">
						<% if (data.userData.mainStringID == null) { %><option value="" selected disabled>Select String</option><% } %>
			            <% if (data.userData.mainStringID != null) { %><option value="<%= mainStringName %>"><%= mainStringName %></option><% } %>
					</select><br><br>

					Guage:
					<select id="mainStringGuage" name="mainStringGuage">
						<% if (data.userData.mainStringID == null) { %><option value="" selected disabled>Select Guage</option><% } %>
			            <% if (data.userData.mainStringID != null) { %><option value="<%= mainStringGuage %>"><%= mainStringGuage %></option><% } %>
					</select><br><br>

					String Tension: <input type="number" name="mainStringTension" placeholder="String Tension" min="0" max="100" step="1" <% if (data.userData.mainStringTension != null) { %>value="<%= data.userData.mainStringTension %>"<% } %> ><br>

					<h4>Crosses</h4>

					Brand: 
					<select id="crossStringBrand" name="crossStringBrand" onchange="changeCrossStringNames()">
						<option value=""<% if (data.userData.crossStringID == null) { %> selected<% } %>>Select Brand</option>
						<% for (i = 0; i < data.brands.length; i++) { %>
						<option value="<%= data.brands[i].brandName %>" <% if (crossStringBrandID == data.brands[i].brandID) { %>selected<% } %> ><%= data.brands[i].brandName %></option>
						<% } %>
					</select><br><br>

					String: 
					<select id="crossStringName" name="crossStringName" onchange="changeCrossStringGuages()">
						<% if (data.userData.crossStringID == null) { %><option value="" selected disabled>Select String</option><% } %>
			            <% if (data.userData.crossStringID != null) { %><option value="<%= crossStringName %>"><%= crossStringName %></option><% } %>
					</select><br><br>

					Guage:
					<select id="crossStringGuage" name="crossStringGuage">
						<% if (data.userData.crossStringID == null) { %><option value="" selected disabled>Select Guage</option><% } %>
			            <% if (data.userData.crossStringID != null) { %><option value="<%= crossStringGuage %>"><%= crossStringGuage %></option><% } %>
					</select><br><br>

					String Tension: <input type="number" name="crossStringTension" placeholder="String Tension" min="0" max="100" step="1" <% if (data.userData.crossStringTension != null) { %>value="<%= data.userData.crossStringTension %>"<% } %> ><br>
					<br>

					<input type="submit" value="Update Profile" />
			    </form>
			</div>
		</div>
    </div>

	<%- include('../../common/footer', {req: req}) %>
</body>

</html>

<script>
	var racquets = <%- JSON.stringify(data.racquets) %>;
	var strings = <%- JSON.stringify(data.strings) %>;

	function changeRacquetNames() {
		var e            = document.getElementById("racquetBrand");
		var racquetBrand = e.options[e.selectedIndex].value;

		racquetNameSelect  = document.getElementById("racquetName");
        racquetModelSelect = document.getElementById("racquetModel");

		//Delete old racquets
		removeOptions(racquetNameSelect);
        removeOptions(racquetModelSelect);

		racquetNameSelect.options[racquetNameSelect.options.length] = new Option("Select Racquet Name", "");
		racquetNameSelect.options[racquetNameSelect.options.length - 1].selected = true;
		racquetNameSelect.options[racquetNameSelect.options.length - 1].disabled = true;

        racquetModelSelect.options[racquetModelSelect.options.length] = new Option("Select Racquet Model", "");
		racquetModelSelect.options[racquetModelSelect.options.length - 1].selected = true;
		racquetModelSelect.options[racquetModelSelect.options.length - 1].disabled = true;

		var addedRacquetNames = [];

		//Add new racquets
		for (var i = 0; i < racquets.length; i++) {
			if (racquets[i].brandName == racquetBrand && !addedRacquetNames.includes(racquets[i].racquetName)) {
				racquetNameSelect.options[racquetNameSelect.options.length] = new Option(racquets[i].racquetName, racquets[i].racquetName);
                addedRacquetNames.push(racquets[i].racquetName);
			}
		}
	}

    function changeRacquetModels() {
		var e           = document.getElementById("racquetName");
		var racquetName = e.options[e.selectedIndex].value;

		racquetModelSelect = document.getElementById("racquetModel");

		//Delete old racquets
		removeOptions(racquetModelSelect);

		racquetModelSelect.options[racquetModelSelect.options.length] = new Option("Select Racquet Model", "");
		racquetModelSelect.options[racquetModelSelect.options.length - 1].selected = true;
		racquetModelSelect.options[racquetModelSelect.options.length - 1].disabled = true;

		//Add new racquets
		for (var i = 0; i < racquets.length; i++) {
			if (racquets[i].racquetName == racquetName) {
				racquetModelSelect.options[racquetModelSelect.options.length] = new Option(racquets[i].model, racquets[i].model);
			}
		}
	}

	function changeMainStringNames() {
		var e               = document.getElementById("mainStringBrand");
		var mainStringBrand = e.options[e.selectedIndex].value;

		mainStringNameSelect  = document.getElementById("mainStringName");
        mainStringGuageSelect = document.getElementById("mainStringGuage");

		//Delete old racquets
		removeOptions(mainStringNameSelect);
        removeOptions(mainStringGuageSelect);

		mainStringNameSelect.options[mainStringNameSelect.options.length] = new Option("Select String", "");
		mainStringNameSelect.options[mainStringNameSelect.options.length - 1].selected = true;
		mainStringNameSelect.options[mainStringNameSelect.options.length - 1].disabled = true;

        mainStringGuageSelect.options[mainStringGuageSelect.options.length] = new Option("Select Guage", "");
		mainStringGuageSelect.options[mainStringGuageSelect.options.length - 1].selected = true;
		mainStringGuageSelect.options[mainStringGuageSelect.options.length - 1].disabled = true;

		var addedMainStringNames = [];

		//Add new strings
		for (var i = 0; i < strings.length; i++) {
			if (strings[i].brandName == mainStringBrand && !addedMainStringNames.includes(strings[i].stringName)) {
				mainStringNameSelect.options[mainStringNameSelect.options.length] = new Option(strings[i].stringName, strings[i].stringName);
                addedMainStringNames.push(strings[i].stringName);
			}
		}
	}

    function changeMainStringGuages() {
		var e              = document.getElementById("mainStringName");
		var mainStringName = e.options[e.selectedIndex].value;

		mainStringGuageSelect = document.getElementById("mainStringGuage");

		//Delete old racquets
		removeOptions(mainStringGuageSelect);

		mainStringGuageSelect.options[mainStringGuageSelect.options.length] = new Option("Select Guage", "");
		mainStringGuageSelect.options[mainStringGuageSelect.options.length - 1].selected = true;
		mainStringGuageSelect.options[mainStringGuageSelect.options.length - 1].disabled = true;

		//Add new strings
		for (var i = 0; i < strings.length; i++) {
			if (strings[i].stringName == mainStringName) {
				mainStringGuageSelect.options[mainStringGuageSelect.options.length] = new Option(strings[i].guage, strings[i].guage);
			}
		}
	}

	function changeCrossStringNames() {
		var e               = document.getElementById("crossStringBrand");
		var crossStringBrand = e.options[e.selectedIndex].value;

		crossStringNameSelect  = document.getElementById("crossStringName");
        crossStringGuageSelect = document.getElementById("crossStringGuage");

		//Delete old racquets
		removeOptions(crossStringNameSelect);
        removeOptions(crossStringGuageSelect);

		crossStringNameSelect.options[crossStringNameSelect.options.length] = new Option("Select String", "");
		crossStringNameSelect.options[crossStringNameSelect.options.length - 1].selected = true;
		crossStringNameSelect.options[crossStringNameSelect.options.length - 1].disabled = true;

        crossStringGuageSelect.options[crossStringGuageSelect.options.length] = new Option("Select Guage", "");
		crossStringGuageSelect.options[crossStringGuageSelect.options.length - 1].selected = true;
		crossStringGuageSelect.options[crossStringGuageSelect.options.length - 1].disabled = true;

		var addedCrossStringNames = [];

		//Add new strings
		for (var i = 0; i < strings.length; i++) {
			if (strings[i].brandName == crossStringBrand && !addedCrossStringNames.includes(strings[i].stringName)) {
				crossStringNameSelect.options[crossStringNameSelect.options.length] = new Option(strings[i].stringName, strings[i].stringName);
                addedCrossStringNames.push(strings[i].stringName);
			}
		}
	}

    function changeCrossStringGuages() {
		var e               = document.getElementById("crossStringName");
		var crossStringName = e.options[e.selectedIndex].value;

		crossStringGuageSelect = document.getElementById("crossStringGuage");

		//Delete old racquets
		removeOptions(crossStringGuageSelect);

		crossStringGuageSelect.options[crossStringGuageSelect.options.length] = new Option("Select Guage", "");
		crossStringGuageSelect.options[crossStringGuageSelect.options.length - 1].selected = true;
		crossStringGuageSelect.options[crossStringGuageSelect.options.length - 1].disabled = true;

		//Add new strings
		for (var i = 0; i < strings.length; i++) {
			if (strings[i].stringName == crossStringName) {
				crossStringGuageSelect.options[crossStringGuageSelect.options.length] = new Option(strings[i].guage, strings[i].guage);
			}
		}
	}

	function removeOptions(selectbox) {
	    for (var i = selectbox.options.length - 1; i >= 0; i--) {
	        selectbox.remove(i);
	    }
	}
</script>