<html>

<head>
	<%- include('../../common/headers', {req: req}) %>
    <title>Nexus Tennis</title>
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
        <%- include('../../common/profile/myProfileHeader', {req: req}) %>

        <p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <a href="/profile/<%= req.session.username %>"><%= req.session.firstname %> <%= req.session.lastname %></a> > Tour</p>

        <div id="fullContainer">
        	<div id="fullWindow">
                <table id="borderTable">
                    <thead>
                        <tr>
                            <th>Tournament</th>
                            <th>Tour</th>
                            <th>Level</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Surface</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < req.data.tour.length; i++) { %>
                        <tr>
                            <td><%= req.data.tour[i].tournamentName %></td>
                            <td><%= req.data.tour[i].tour %></td>
                            <td><%= req.data.tour[i].level %></td>
                            <td><%= (new Date(req.data.tour[i].startDate)).toISOString().substring(0, 10) %></td>
                            <td><%= (new Date(req.data.tour[i].endDate)).toISOString().substring(0, 10) %></td>
                            <td><%= req.data.tour[i].courtSurface %></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
			</div>

            <div id="fullWindow">
                <div id="map" style="height: 900px;"></div>
                <script>
                    Date.prototype.getDateString = function(format) {
                        var day   = this.getDate();
                        var month = this.getMonth() + 1;
                        var year  = this.getFullYear();

                        if      (format == "YYYY-MM-DD") return year + "-" + month + "-" + day;
                        else if (format == "DD-MM-YYYY") return day + "-" + month + "-" + year;
                    }

                    var tournaments = <%- JSON.stringify(req.data.tour) %>;

                    var existingMarkers = [];
                    var map;
                    
                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                            center: {
                                lat: -28.5,
                                lng: 133.5
                            },
                            zoom: 5,
                            draggableCursor: 'crosshair',
                            mapTypeControl: false,
                            streetViewControl: false
                        });

                        var infowindow = new google.maps.InfoWindow();
                        var bounds     = new google.maps.LatLngBounds();
                        
                        for (var i = 0; i < tournaments.length; i++) {
                            
                            //load tournament

                            tournaments[i].startDateObject = new Date(tournaments[i].startDate);
                            tournaments[i].endDateObject   = new Date(tournaments[i].endDate);

                            var temp = markerExists(tournaments[i].latitude, tournaments[i].longitude);

                            if (temp.result) {
                                var marker = temp.existingMarker.marker;

                                var listener = temp.existingMarker.listener;

                                listener.remove();

                                var content = temp.existingMarker.content + getContent(tournaments[i], i);

                                var listener = google.maps.event.addListener(marker, 'click', (function(marker, content) {
                                    return function() {
                                        infowindow.setContent(content);
                                        infowindow.open(map, marker);
                                    }
                                })(marker, content));

                                temp.existingMarker.listener = listener;
                                temp.existingMarker.content  = content;

                            } else {

                                var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(tournaments[i].latitude, tournaments[i].longitude),
                                    map: map
                                });

                                bounds.extend(marker.getPosition());

                                var content = getContent(tournaments[i], i);

                                var listener = google.maps.event.addListener(marker, 'click', (function(marker, content) {
                                    return function() {
                                        infowindow.setContent(content);
                                        infowindow.open(map, marker);
                                    }
                                })(marker, content));

                                var existingMarker = {
                                    marker:    marker,
                                    content:   content,
                                    listener:  listener,
                                    latitude:  tournaments[i].latitude,
                                    longitude: tournaments[i].longitude
                                }

                                existingMarkers.push(existingMarker);
                            }
                        }

                        map.fitBounds(bounds);
                    }

                    function getContent(tournament, i) {
                        var event = getEvent(tournament.ageGroup, tournament.gender);

                        return "<p><a href='" + tournament.organisationURL + "'>" + tournament.tournamentName + " (" + event + ")</a></p>" +
                               "<p>" + tournament.tour + ", " + tournament.level + "</p>" +
                               "<p>" + tournament.city + ", " + tournament.country + "</p>" +
                               "<p>" + tournament.startDateObject.getDateString("DD-MM-YYYY") + " to " + tournament.endDateObject.getDateString("DD-MM-YYYY") + "</p>" +
                               "<p>" + tournament.courtType + " " + tournament.courtSurface + "</p>" +
                               "<p>" + tournament.totalFinancialCommitment + "</p>" +
                               "<button onClick='addTournamentToTour(" + i + ")'>Add To Tour</button>";
                    }

                    function getEvent(ageGroup, gender) {
                        if (ageGroup == "open") ageGroup = "Open";

                        if (gender == "male") {
                            if (ageGroup == "Open") gender = "Mens";
                            else                    gender = "Boys";
                        } else if (gender == "female") {
                            if (ageGroup == "Open") gender = "Womens";
                            else                    gender = "Girls";
                        }

                        return ageGroup + " " + gender;
                    }

                    function markerExists(latitude, longitude) {
                        for (var i = 0; i < existingMarkers.length; i++) {
                            if (existingMarkers[i].latitude == latitude && existingMarkers[i].longitude == longitude) {
                                return {
                                    result: true,
                                    existingMarker: existingMarkers[i]
                                }
                            }
                        }

                        return {
                            result: false,
                            existingMarker: null
                        }
                    }

                    function convertDate(date, format) {
                        var temp = date.split("-");

                        if (format == "YYYY-MM-DD") {
                            var day   = temp[2];
                            var month = temp[1];
                            var year  = temp[0];

                            return day + "-" + month + "-" + year;
                        } else if (format == "DD-MM-YYYY") {
                            var day   = temp[0];
                            var month = temp[1];
                            var year  = temp[2];

                            return year + "-" + month + "-" + day;
                        }
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNPBIAjrx9vq1SsspqjAiD6JB37xHUX3A&callback=initMap" async defer></script>
            </div>
		</div>
    </div>

	<%- include('../../common/footer', {req: req}) %>
</body>

</html>