<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
    	<p id="breadcrumbs">Nexus Tennis > Tour Calculator > Result</p>

	    <div id="fullContainer">
	        <div id="fullWindow">
	        	<h2>Tour</h2>
	        	<% for (i = 0; i < req.data.result.length; i++) { %>
	        	<p><%= req.data.result[i].tournamentName %></p>
	        	<% } %>
	        </div>
	    </div>
	</div>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>