<html>

<head>
    <%- include('../../common/headers', {req: req}) %>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <%- include('../../common/header', {req: req}) %>

    <div id="wrapper">
    	<p id="breadcrumbs">Nexus Tennis > Tour Calculator > New Tour</p>

	    <div id="fullContainer">
	    	<% if (req.data.errors) { %>
	    	<div id="fullWindow">
		    	<ul>
		        <% for (var i = 0; i < req.data.errors.length; i++) { %>
		        	<li><%= req.data.errors[i] %></li>
		        <% } %>
		    	</ul>
			</div>
		    <% } %>

	    	<form action="" method="post">

	    	<div id="fullWindow">
	        	<h2>Tour Type</h2>
        		<input type="radio" name="tournamentLevel" value=""> Return Home After Every Tournament</br>
        		<input type="radio" name="tournamentLevel" value=""> Return Home Every Day (Least Travel Time From Home)<br>
        		<input type="radio" name="tournamentLevel" value=""> Tour a Region (No home)<br>
        		<input type="radio" name="tournamentLevel" value=""> Tour Region Starting From Home<br>
        		<input type="radio" name="tournamentLevel" value=""> Automatic (Most Efficient For You)<br>
	        </div>

	        <div id="fullWindow">
	        	<h2>Date Range</h2>
	        	Start Date: <input type="date" name="startDate"><br><br>
	        	End Date: <input type="date" name="endDate">
	        </div>

	        <div id="fullWindow">
	        	<h2>Home Location</h2>
	        	Click on your home:
	        	<br><br>
				
				<div id="map" style="height: 600px;"></div><br>

				<script>
					var map;
					var homeCoordinates;
					
					function initMap() {
						map = new google.maps.Map(document.getElementById('map'), {
							center: {
								lat: 20,
								lng: 5
							},
							zoom: 2,
							draggableCursor:'crosshair'
						});

						google.maps.event.addListener(map, 'click', function(event) {
							placeMarker(event.latLng);
						});
					}

					function placeMarker(location) {
						homeCoordinateLatitude  = location.toString().substr(1, location.toString().length - 2).split(", ")[0];
						homeCoordinateLongitude = location.toString().substr(1, location.toString().length - 2).split(", ")[1];
						document.getElementById("homeCoordinateLatitude").value = homeCoordinateLatitude;
						document.getElementById("homeCoordinateLongitude").value = homeCoordinateLongitude;
						var marker = new google.maps.Marker({
							position: location, 
							map: map
						});
					}
				</script>

				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNPBIAjrx9vq1SsspqjAiD6JB37xHUX3A&callback=initMap" async defer></script>
				<input id="homeCoordinateLatitude" type="hidden" name="homeCoordinateLatitude" value="" />
				<input id="homeCoordinateLongitude" type="hidden" name="homeCoordinateLongitude" value="" />
				<p>or</p>
				Enter your address: <input type="text" name="address" length="128" placeholder="Your Address" />
	        </div>

	        <div id="fullWindow">
	        	<h2>Location Range</h2>
        		<input type="radio" name="locationRange" value="radius"> Maximum Travel Distance: <input type="number" name="radius" placeholder="Distance"><br><br>
        		or<br><br>
        		<input type="radio" name="locationRange" value="country"> 
        		<select name="country">
					<option value="" selected disabled >Select Country</option>
					<% for (i = 0; i < req.data.countries.length; i++) { %>
					<option value="<%= req.data.countries[i].name %>"><%= req.data.countries[i].name %></option>
					<% } %>
				</select><br><br>
				or<br><br>
				<input type="radio" name="locationRange" value="worldwide"> Worldwide
	    	</div>

	    	<div id="fullWindow">
	    		<h2>Mode of Transport</h2>
        		Select Mode of Transport:<br>
        		<input type="radio" name="modeOfTransport" value="personalCar" id="personal" onClick="hideOtherModesOfTransport()"> Personal Car<br>
        		<input type="radio" name="modeOfTransport" value="other" id="other" onClick="displayOtherModesOfTransport()"> Other<br>
        		<div id="otherModesOfTransport" style="display: none;">
        			<input type="checkbox" name="otherModesOfTransport" value="hireCar"> Hire Car<br>
        			<input type="checkbox" name="otherModesOfTransport" value="plane"> Plane<br><br>
        			<input type="checkbox" name="otherModesOfTransport" value="publicTransport"> Public Transport<br><br>
        		</div>
	        </div>

	        <div id="fullWindow">
	        	<h2>Number of Tournaments</h2>
        		<input type="radio" name="numberOfTournamentsSearchType" value="number"> Number of Tournaments: <input type="number" name="numberOfTournaments" placeholder="Number of Tournaments"><br><br>
        		or<br><br>
        		<input type="radio" name="numberOfTournamentsSearchType" value="max"> Max Number of Tournaments
	        </div>

	        <div id="fullWindow">
	        	<h2>Travel Search Type</h2>
	        	<p>Select what to prioritise</p>
        		<input type="radio" name="travelSearchType" value="leastTravelTime"> Least Travel Time<br>
        		<input type="radio" name="travelSearchType" value="lowestTravelCost"> Lowest Travel Cost<br>
        		<input type="radio" name="travelSearchType" value="shortestTravelDistance"> Shortest Travel Distance<br>
	        </div>

	        <div id="fullWindow">
	        	<h2>Tournament Levels</h2>
        		<input type="radio" name="tournamentLevel" value="automatic"> Automatic (Analyses Your Profile)</br>
        		<p>or</p>
        		<input type="radio" name="tournamentLevel" value="manual"> Select Tournament Levels:<br>
        		<input type="checkbox" name="manualTournamentLevel" value="grandslam"> Grand Slam<br>
        		<input type="checkbox" name="manualTournamentLevel" value="atpfinals"> ATP Finals<br>
        		<input type="checkbox" name="manualTournamentLevel" value="atp1000"> ATP 1000<br>
        		<input type="checkbox" name="manualTournamentLevel" value="atp500"> ATP 500<br>
        		<input type="checkbox" name="manualTournamentLevel" value="atp250"> ATP 250<br>
        		<input type="checkbox" name="manualTournamentLevel" value="challenger150000"> ATP Challenger $150,000 / €127,000<br>
        		<input type="checkbox" name="manualTournamentLevel" value="challenger125000"> ATP Challenger $125,000 / €106,000<br>
        		<input type="checkbox" name="manualTournamentLevel" value="challenger100000"> ATP Challenger $100,000 / €85,000<br>
        		<input type="checkbox" name="manualTournamentLevel" value="challenger75000"> ATP Challenger $75,000 / €64,000<br>
        		<input type="checkbox" name="manualTournamentLevel" value="challenger50000"> ATP Challenger $50,000 / €43,000<br>
        		<input type="checkbox" name="manualTournamentLevel" value="futures25000"> ITF Futures $25,000<br>
        		<input type="checkbox" name="manualTournamentLevel " value="futures15000"> ITF Futures $15,000<br><br>
				<input type="submit" value="Calculate Tour">
	        </div>

	        </form>
	    </div>
	</div>

    <%- include('../../common/footer', {req: req}) %>
</body>

</html>

<script>
	function displayOtherModesOfTransport() {
		document.getElementById("otherModesOfTransport").style.display = "block";
	}

	function hideOtherModesOfTransport() {
		document.getElementById("otherModesOfTransport").style.display = "none";
	}
</script>
