<html>

<head>
    <%- include('../common/headers', {req: req}) %>
</head>

<body>
    <%- include('../common/header', {req: req}) %>

    <div id="wrapper">
    	<div id="fullContainer">
	    	<div id="subNav">
	    		<ul>
	    			<li><a href="/onlinecoach">Online Coach</a></li>
	    			<li><a href="/onlinecoach/packages">Coaching Packages</a></li>
	    			<li><a href="/onlinecoach/coaches">Online Coaches</a></li>
	    		</ul>
	    	</div>
    	</div>

    	<p id="breadcrumbs"><a href="/">Nexus Tennis</a> > <a href="/onlinecoach">Online Coach</a> > Online Coaches</p>

	    <div id="fullContainer">
	    	<div id="fullWindow">
	    		<h2>Search Coaches</h2>
	    	</div>
	</div>

    <%- include('../common/footer', {req: req}) %>
</body>

</html>